<meta charset="utf-8">
html
    head
        title Symposium
        meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
        style(type='text/css').

        style(type='text/css')
            include css/maincss.css

        script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    
    body
        include topnav.pug

        div#main-container
            center
                h2(style="letter-spacing: 2px;") Symposium Submission Form
                a(href='/symposium_es')
                    h5 Por Español haz clic aqui
            br
            h4 Welcome! Enter the data in the corresponding fields to send your proposal for a Symposium for the 8th meeting of the Western Hemisphere Shorebird Group meeting to be held in Panama City, Panama, from October 24 to 28, 2019.
            br
            h4 Symposium proposals are due by March 15th, 2019.
            br
            form
                .form-group.shadow-sm
                    div.fullwidth
                        h4 Please enter the title for your proposed Symposium
                        p (150 character Limit)
                    br
                    h5 English
                    input.charLimit.inputText.form-control(type="text", name='englishTitleInput')
                    div.charLimitDisplay
                    br
                    h5 Spanish
                    input.charLimit.inputText.form-control(type="text", name='spanishTitleInput')
                    div.charLimitDisplay

                .form-group.shadow-sm
                    div.fullwidth
                        h4 Please enter the names and affiliations of the Symposium organizers
                    //- .rightInput
                    //-     span#Label34
                    //- //- div.fullwidth
                    //- //-     .formInfo
                    //- //-         h4 Which author is presenting? 
                    //- //-     .rightInput
                    //- //-         input.inputText.form-control(type="text", name='presenterInput')


                    table(id="authorTable")
                        tr
                            th(style="width: 20px;") #
                            th First Name
                            th Middle or Initial
                            th Last Name
                            th Primary Institution
                            th Phone
                            th Email
                        tr
                            td(style="font-size: 16px") 1
                            td 
                                input.inputText.form-control(type='text')
                            td 
                                input.inputText.form-control(type='text')
                            td 
                                input.inputText.form-control(type='text')
                            td 
                                input.inputText.form-control(type='text')
                            td 
                                input.inputText.form-control(type='text')
                            td
                                input.inputText.form-control(type='text')
                    div.authorBtnBox
                        button(id="addAuthorBtn", class="btn btn-primary") Add Author
                        button(id="deleteAuthorBtn", class="btn btn-secondary") Delete Author

                .form-group.shadow-sm
                    h4 Please enter a brief description of your proposed Symposium in 250 words or less, in English or Spanish (or both if you can). 
                    br
                    h5 English
                    textarea.wordLimit.inputText.form-control(name='englishAbstractInput', style="width: 100% ")
                    div.wordLimitDisplay
                    br
                    h5 Spanish
                    textarea.wordLimit.inputText.form-control(name='spanishAbstractInput', style="width: 100% ")
                    div.wordLimitDisplay

                .form-group.shadow-sm
                    div.fullwidth
                        h4 Please indicate whether you are interested in planning one session (Morning session, seven presentation slots), two sessions (morning and after lunch, 13 presentation slots), or three sessions (morning, after lunch, late afternoon, 18 presentation slots). 
                        .rightInput
                            select.form-control(name='halforfullday')
                                option(value="", disabled, selected) Select
                                option  7
                                option  13
                                option  18
                .form-group.shadow-sm
                    div.fullwidth
                        h4 Please enter the names and presentation topics of any Symposium participants you have in mind 
                        p You do not need to identify all presenters, just those you already know will be invited

                    table(id="topicTable")
                        tr
                            th(style="width: 20px;") #
                            th Name
                            th Topic
                        tr
                            td(style="font-size: 16px") 1
                            td 
                                input.inputText.form-control(type='text')
                            td 
                                input.inputText.charLimit.form-control(type='text', style="width: 500px;")
                    div.authorBtnBox
                        button(id="addTopicBtn", class="btn btn-primary") Add Topic
                        button(id="deleteTopicBtn", class="btn btn-secondary") Delete Topic
                .form-group.shadow-sm
                    h4 Please enter any notes to the Scientific Committee
                    textarea.inputText.form-control(name='notestocommittee')
                .form-group
                    button(type="submit" class="btn btn-primary", style="float: right") Submit


script.

    $( document ).ready(function() {

    $('#addAuthorBtn').on('click', function(event) {
        event.preventDefault();
        $trLast = $('#authorTable tr:last');
        var prevnum = $trLast.find('td:first').html();
        $trNew = $trLast.clone();
        $trNew.find('td:first').html(parseInt(prevnum) + 1);
        $trLast.after($trNew);
        $('#authorTable tr:last').find('input').val('');
    });

    $('#addTopicBtn').on('click', function(event) {
        event.preventDefault();
        $trLast = $('#topicTable tr:last');
        var prevnum = $trLast.find('td:first').html();
        $trNew = $trLast.clone();
        $trNew.find('td:first').html(parseInt(prevnum) + 1);
        $trLast.after($trNew);
        $('#topicTable tr:last').find('input').val('');
    });

    $('#deleteAuthorBtn').on('click', function(event) {
        event.preventDefault();
        $trLast = $('#authorTable tr:last');
        var prevnum = $trLast.find('td:first').html();
        if (prevnum != "1") {
            $trLast = $('#authorTable tr:last').remove();
        }
    });

    $('#deleteTopicBtn').on('click', function(event) {
        event.preventDefault();
        $trLast = $('#topicTable tr:last');
        var prevnum = $trLast.find('td:first').html();
        if (prevnum != "1") {
            $trLast = $('#topicTable tr:last').remove();
        }
    });

    var wordCount = function( val ){
        var wom = val.match(/\S+/g);
        return {
            charactersNoSpaces : val.replace(/\s+/g, '').length,
            characters         : val.length,
            words              : wom ? wom.length : 0,
            lines              : val.split(/\r*\n/).length
        };
    }

    $('.wordLimit').on('keydown change', function () {

        var v = wordCount( $(this).val() );

        if (v.words > 250) {
          var trimmed = $(this).val().split(/\s+/, 250).join(" ");
          $(this).val(trimmed + " ");
          v.words = 250;
        }

        $(this).next('.wordLimitDisplay').html("Words: "+ v.words);

    });

    $('.charLimit').on('keyup keydown change', function () {

        $(this).val($(this).val().substring(0, 150));
        var v = wordCount( $(this).val() );
        $(this).next('.charLimitDisplay').html("Characters: "+ v.characters);

    });

    // Form Submission
    $( "form" ).on( "submit", function( event ) {
        
        event.preventDefault();

        var formObj = ($( this ).serializeArray());

        var authors = [];
        $('#authorTable tr:has(td)').map(function(i, v) {
            var td =  $('td', this);
            authors.push({
                id: ++i,
                fist: td.children().eq(0).val(),
                middle: td.children().eq(1).val(),
                last: td.children().eq(2).val(),
                primary: td.children().eq(3).val(),
                phone: td.children().eq(4).val(),
                email: td.children().eq(5).val()
            });           
        });

        var topics = [];
        $('#topicTable tr:has(td)').map(function(i, v) {
            var td =  $('td', this);
            topics.push({
                id: ++i,
                name: td.children().eq(0).val(),
                topic: td.children().eq(1).val(),
            });           
        });


        formObj.push(
            {name:"authors", value:JSON.stringify(authors)},
            {name:"topics", value:JSON.stringify(topics)},
        )

        console.log(formObj);
        var json = JSON.stringify(formObj);


        $.ajax({ 
           url: '/postSymposium',
           type: 'POST',
           contentType: "application/json",
           data: json,
           success: function(data){
              console.log("success");
              window.location.href = 'thanks_en';
           },
           error: function(jqXHR, textStatus, err){
               alert('text status '+textStatus+', err '+err)
           }
        })


     });
    });