style(type='text/css')
  include css/topcss.css

div#headerwrapper
  #wi-wrapper
    header#wi-header.wi-header.header-1
      #wi-topbar.wi-topbar
        .container
          .topbar-left
            nav#topbarnav
              .menu
                ul#menu-social-links-menu.menu
                  li#menu-item-23.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-23
                    a(href='https://www.facebook.com/groups/84783206872/') Facebook
                  li#menu-item-24.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-24
                    a(href='https://twitter.com/shorebirdswest') Twitter
                  li#menu-item-74.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-74
                    a(href='http://westernshorebirdgroup.org') Spanish
            .topbar-right
            #logo-area
              .container
                #wi-logo
                  h2
                    a(href='http://westernshorebirdgroup.org/', rel='home')
                      img(src='http://westernshorebirdgroup.org/wp-content/uploads/2018/06/logo.png', alt='Logo')
                  h3#wi-tagline Western Hemisphere Shorebird Group
                nav#wi-mainnav.wi-mainnav.mainnav-border-container
                  .container
                    .menu
                      ul#menu-main-nav.menu
                        li#menu-item-90.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-7.current_page_item.menu-item-90
                          a(href='http://westernshorebirdgroup.org/') Home
                        li#menu-item-89.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-89
                          a(href='http://westernshorebirdgroup.org/about-us/') About us
                          ul.sub-menu
                            li#menu-item-342.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-342
                              a(href='http://www.westernshorebirdgroup.org/about-us/#committee') Executive Committee
                            li#menu-item-343.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-343
                              a(href='http://www.westernshorebirdgroup.org/about-us/#terms') Terms of Reference
                        li#menu-item-87.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-87
                          a(href='http://westernshorebirdgroup.org/news/') News
                        li#menu-item-85.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-85
                          a(href='http://westernshorebirdgroup.org/meetings/') Meetings
                          ul.sub-menu
                            li#menu-item-84.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-84
                              a(href='http://westernshorebirdgroup.org/next-meeting/') Next meeting
                            li#menu-item-83.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-83
                              a(href='http://westernshorebirdgroup.org/past-meetings/') Past Meetings
                        li#menu-item-82.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-82
                          a(href='http://westernshorebirdgroup.org/awards/') Awards
                          ul.sub-menu
                            li#menu-item-336.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-336
                              a(href='http://westernshorebirdgroup.org/donate/') Donate
                            li#menu-item-328.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-328
                              a(href='http://www.westernshorebirdgroup.org/awards/#allan') Allan Baker Award
                            li#menu-item-329.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-329
                              a(href='http://www.westernshorebirdgroup.org/awards/#lew') Lewis W. Oring Award
                            li#menu-item-330.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-330
                              a(href='http://www.westernshorebirdgroup.org/awards/#pablo') Pablo Canevari Award
                            li#menu-item-345.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-345
                              a(href='http://www.westernshorebirdgroup.org/awards/#guidelines') WHSG Awards: Nomination Guidelines
                            li#menu-item-346.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-346
                              a(href='http://www.westernshorebirdgroup.org/awards/#past') 2017 Award Winners
                        li#menu-item-81.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-81
                          a(href='http://westernshorebirdgroup.org/contact-us/') Contact us
                  #mainnav-height
