style(type='text/css')
  include css/top.css

div#headerwrapper
  #wi-topbar.wi-topbar
    p(style="color: #f5f5f5 !important;") |
  #wi-logo
    center
      img(src='http://westernshorebirdgroup.org/wp-content/uploads/2018/06/logo.png', alt='Logo')
      h3#wi-tagline Western Hemisphere Shorebird Group
