style(type='text/css', scoped).

    #wi-mainnav .menu>ul>li.menu-item-has-children>a:after,
    .entry-meta>:before {
        text-rendering: auto;
        -moz-osx-font-smoothing: grayscale
    }

    a:active,
    a:hover {
        outline: 0
    }

    a,
    body,
    div,
    h2,
    h3,
    html,
    li,
    span,
    ul {
        border: 0;
        font-family: inherit;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline
    }

    html {
        box-sizing: border-box;
        font-size: 62.5%;
        overflow-y: scroll;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%
    }

    *,
    :after,
    :before {
        box-sizing: inherit
    }

    header,
    nav {
        display: block
    }

    a img {
        border: 0
    }

    @font-face {
        font-family: "FontAwesome";
        font-weight: normal;
        font-style : normal;
               src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
               src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
                     url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
                     url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
                     url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
                     url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
    }

    /*!
    * SlickNav Responsive Mobile Menu v1.0.3
    * (c) 2015 Josh Cope
    * licensed under MIT
    */

    #topbarnav .menu>ul>li>a,
    #wi-logo a,
    a {
        text-decoration: none
    }

    img {
        max-width: 100%
    }

    body {
        color: #606060;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        line-height: 1.84615385;
        background: #fff
    }

    a {
        color: #5EA7B1;
        outline: 0
    }

    a:focus {
        outline: dotted thin
    }

    .topbar-left {
        float: left
    }

    .container:after,
    .container:before {
        display: table;
        content: "";
        clear: both
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        width: 1020px
    }

    #wi-header {
        position: relative;
        z-index: 3000
    }

    #wi-topbar {
        background: #f5f5f5;
        border-bottom: 1px solid #f0f0f0;
        color: #888;
        height: 40px
    }

    .topbar-right {
        float: right
    }

    .topbar-right:after {
        clear: both;
        content: "";
        display: table
    }

    #topbarnav .menu {
        display: block;
        font-family: "Open Sans", sans-serif
    }

    #topbarnav .menu ul {
        list-style: none;
        margin: 0;
        padding: 0
    }

    #topbarnav .menu>ul:after {
        display: table;
        content: "";
        clear: both
    }

    #topbarnav .menu>ul>li {
        display: block;
        float: left;
        position: relative
    }

    #topbarnav .menu>ul>li>a {
        display: block;
        color: inherit;
        line-height: 40px;
        padding: 0 12px;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: .5px;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        transition: all .1s ease;
        position: relative;
        outline: 0
    }

    #topbarnav .menu>ul>li:hover>a {
        color: #606060
    }

    #wi-mainnav {
        font-family: "Open Sans", sans-serif
    }

    #topbarnav .menu>ul>li.current-menu-item>a {
        color: #a5a5a5
    }

    #logo-area {
        padding: 40px 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll
    }

    #wi-logo {
        text-align: center
    }

    #wi-logo h2 {
        margin: 0
    }

    #wi-logo a {
        display: inline-block;
        border: none;
        outline: 0;
        color: inherit
    }

    #wi-logo img {
        display: block;
        width: 440px
    }

    #wi-tagline {
        font-size: 40px;
        margin-top: -3px;
        font-style: normal;
        font-weight: 500;
        text-transform: capitalize;
    }

    #wi-mainnav .menu>ul>li>a {
        text-transform: uppercase
    }

    #wi-mainnav .container {
        padding: 4px 0;
        border: 0 solid #eaeaea;
        position: relative
    }

    #wi-mainnav {
        margin-top: -10px;
        border: 0 solid #eaeaea
    }

    #wi-mainnav.mainnav-border-container .container {
        border-width: 1px 0
    }

    #wi-mainnav .menu {
        height: 48px
    }

    #wi-mainnav .menu ul {
        list-style: none;
        margin: 0;
        padding: 0
    }

    #wi-mainnav a {
        outline: 0
    }

    #wi-mainnav .menu>ul {
        display: inline-block
    }

    #wi-mainnav .menu li,
    #wi-mainnav .menu>ul>li>a {
        display: block;
        position: relative
    }

    #wi-mainnav .menu>ul>li {
        float: left
    }

    #wi-mainnav .menu>ul>li>a {
        line-height: 48px;
        padding: 0 16px;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        color: #333;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        transition: all .1s ease
    }

    #wi-mainnav .menu>ul>li>a:hover {
        color: #5EA7B1
    }

    #wi-mainnav .menu>ul>li.current-menu-item>a {
        color: #a5a5a5
    }

    #wi-mainnav .menu>ul>li.menu-item-has-children>a:after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        -webkit-font-smoothing: antialiased;
        content: "\f107";
        margin-left: 2px;
        color: #bababa
    }

    #wi-mainnav .menu>ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        background: rgba(255, 255, 255, .98);
        border: 2px solid #eaeaea;
        box-shadow: 0 4px 12px 1px rgba(0, 0, 0, .07);
        width: 200px;
        padding: 16px;
        text-align: left;
        display: none
    }

    #wi-mainnav .menu>ul>li>ul:before {
        position: absolute;
        top: -8px;
        left: 40px;
        margin-left: -6px;
        border: 6px solid #eaeaea;
        border-color: #eaeaea transparent;
        border-top: none;
        content: "";
        z-index: 98
    }

    #wi-mainnav .menu>ul ul li>a {
        display: block;
        padding: 4px 0;
        color: #555;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        font-size: 14px
    }

    #wi-mainnav .menu>ul ul li>a:hover {
        color: #5EA7B1
    }

    #wi-mainnav {
        display: block;
        text-align: center;
        position: static;
        top: -200px;
        -webkit-transition: top .6s;
        transition: top .6s
    }

    #mainnav-height {
        height: 56px;
        display: none
    }

    .entry-meta>:after {
        content: "|";
        margin: 0 10px
    }

    .entry-meta>:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        -webkit-font-smoothing: antialiased;
        margin-right: 5px
    }

    .blog-grid.column-4 .entry-meta>:after {
        margin: 0 5px
    }

    .entry-meta.grid-meta>:before {
        display: none
    }

    .entry-meta.grid-meta>:after {
        color: #ccc
    }

    .comment-metadata>:before {
        content: "\B7";
        margin: 0 6px
    }

    #wi-mainnav,
    #topbarnav {
        font-family: "Open Sans", sans-serif
    }

    #wi-logo img {
        width: 300px
    }

    body {
        font-size: 16px
    }

    #wi-tagline {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        color: #606060;
        letter-spacing: 2px;
        text-transform: capitalize;
    }
